In [1]:
import sys
from PyQt5.QtWidgets import *
import win32com.client
import ctypes
 
################################################
# PLUS 공통 OBJECT
g_objCodeMgr = win32com.client.Dispatch('CpUtil.CpCodeMgr')
g_objCpStatus = win32com.client.Dispatch('CpUtil.CpCybos')
g_objCpTrade = win32com.client.Dispatch('CpTrade.CpTdUtil')
 
 
################################################
# PLUS 실행 기본 체크 함수
def InitPlusCheck():
    # 프로세스가 관리자 권한으로 실행 여부
    if ctypes.windll.shell32.IsUserAnAdmin():
        print('정상: 관리자권한으로 실행된 프로세스입니다.')
    else:
        print('오류: 일반권한으로 실행됨. 관리자 권한으로 실행해 주세요')
        return False
 
    # 연결 여부 체크
    if (g_objCpStatus.IsConnect == 0):
        print("PLUS가 정상적으로 연결되지 않음. ")
        return False
 
    # # 주문 관련 초기화 - 계좌 관련 코드가 있을 때만 사용
    # if (g_objCpTrade.TradeInit(0) != 0):
    #     print("주문 초기화 실패")
    #     return False
 
    return True

In [2]:
 
class CpMarketEye:
    def __init__(self):
        self.objRq = win32com.client.Dispatch("CpSysDib.MarketEye")
        self.RpFiledIndex = 0
 
 
    def Request(self, codes, dataInfo):
        # 0: 종목코드 4: 현재가 20: 상장주식수 67: PER 71:자본금 72: 액면가
        rqField = [0, 4, 20, 67, 71, 72]  # 요청 필드
 
        self.objRq.SetInputValue(0, rqField)  # 요청 필드
        self.objRq.SetInputValue(1, codes)  # 종목코드 or 종목코드 리스트
        self.objRq.BlockRequest()
 
        # 현재가 통신 및 통신 에러 처리
        rqStatus = self.objRq.GetDibStatus()
        print("통신상태", rqStatus, self.objRq.GetDibMsg1())
        if rqStatus != 0:
            return False
 
        cnt = self.objRq.GetHeaderValue(2)
 
        for i in range(cnt):
            code = self.objRq.GetDataValue(0, i)  # 코드
            cur = self.objRq.GetDataValue(1, i)  # 종가
            listedStock = self.objRq.GetDataValue(2, i)  # 상장주식수
            per = self.objRq.GetDataValue(3, i)  # per
            base = self.objRq.GetDataValue(4, i)  # base
            face = self.objRq.GetDataValue(5, i)  # 액면가
 
            maketAmt = listedStock * cur
            if g_objCodeMgr.IsBigListingStock(code) :
                maketAmt *= 1000
                listedStock *= 1000
                print(code, maketAmt)
 
            # key(종목코드) = tuple(상장주식수, 시가총액)
            dataInfo[code] = (listedStock, maketAmt, per, base, face)
 
        return True
 
class CMarketTotal():
    def __init__(self):
        self.dataInfo = {}
 
 
    def GetAllMarketTotal(self):
        codeList = g_objCodeMgr.GetStockListByMarket(1)  # 거래소
        codeList2 = g_objCodeMgr.GetStockListByMarket(2)  # 코스닥
        allcodelist = codeList + codeList2
        allcodelist = ("U001",) + codeList + codeList2
        print('전 종목 코드 %d, 거래소 %d, 코스닥 %d' % (len(allcodelist), len(codeList), len(codeList2)))
 
        objMarket = CpMarketEye()
        rqCodeList = []
        for i, code in enumerate(allcodelist):
            rqCodeList.append(code)
            if len(rqCodeList) == 200:
                objMarket.Request(rqCodeList, self.dataInfo)
                rqCodeList = []
                continue
        # end of for
 
        if len(rqCodeList) > 0:
            objMarket.Request(rqCodeList, self.dataInfo)
 
    def PrintMarketTotal(self):
 
        # 시가총액 순으로 소팅
        data2 = sorted(self.dataInfo.items(), key=lambda x: x[1][1], reverse=True)
 
        print('전종목 시가총액 순 조회 (%d 종목)' % (len(data2)))
        for item in data2:
            name = g_objCodeMgr.CodeToName(item[0])
            listed = item[1][0]
            markettot = item[1][1]
            print('%s 상장주식수: %s, 시가총액 %s' %(name, format(listed, ','), format(markettot, ',')))

In [3]:
objMarketTotal = CMarketTotal()
objMarketTotal.GetAllMarketTotal()
objMarketTotal.PrintMarketTotal()

전 종목 코드 2972, 거래소 1557, 코스닥 1414

com_error: (-2147352567, '예외가 발생했습니다.', (0, None, 'U-CYBOS가 서버에 접속되어 있지 않습니다.', None, 0, -2147483638), None)

In [4]:
data2 = sorted(objMarketTotal.dataInfo.items(), key=lambda x: x[1][1], reverse=True)

In [5]:
data2[0]

('A005930', (5969782000, 297892121800000, 15.760000228881836, 778046, 100))

In [6]:
MarketTotal = []

for item in data2:
    name = g_objCodeMgr.CodeToName(item[0])
    listed = item[1][0]
    markettot = item[1][1]
    per = item[1][2]
    eps = item[1][3]
    face = item[1][4]
    
    MarketTotal.append([name, item[0], listed, markettot, per, eps, face])

In [7]:
import pandas as pd

In [8]:
format(1e+10, ",")

'10,000,000,000.0'

In [9]:
format(1e+12, ",")

'1,000,000,000,000.0'

In [10]:
pdMarketTotal = pd.DataFrame(MarketTotal)

In [11]:
len(pdMarketTotal)

2974

In [12]:
pdMarketTotal.to_csv("../data/KRX_LIST.csv", index=None)

In [13]:
pdMarketTotal.columns = "Name,Code,Stock,capitalization,per,base,face".split(",")

In [14]:
pdMarketTotal.loc[pdMarketTotal.Code == "U001"]

        Name  Code  Stock  capitalization  per  base  face
2973  종합주가지수  U001      0             0.0  0.0     0     0

In [15]:
pdMarketTotal.loc[pdMarketTotal.Name == "KODEX 200선물인버스2X"]

                 Name     Code      Stock  capitalization  per  base  face
102  KODEX 200선물인버스2X  A252670  320900000    2.056969e+12  0.0     0     0

In [16]:
pdMarketTotal.loc[pdMarketTotal.Name == "KODEX 미국S&P500선물(H)"]

                     Name     Code    Stock  capitalization  per  base  face
1471  KODEX 미국S&P500선물(H)  A219480  5750000    8.052875e+10  0.0     0     0

In [17]:
pdMarketTotal.loc[pdMarketTotal.Name == "KODEX 미국S&P500선물(H)"]

                     Name     Code    Stock  capitalization  per  base  face
1471  KODEX 미국S&P500선물(H)  A219480  5750000    8.052875e+10  0.0     0     0

In [18]:
pdMarketTotal.loc[pdMarketTotal.Code == "A950140"]

       Name     Code     Stock  capitalization        per  base  face
1234  잉글우드랩  A950140  19867866    1.043063e+11  46.049999     0     0

In [19]:
pdMarketTotal.loc[pdMarketTotal.Code == "A900140"]

         Name     Code     Stock  capitalization  per  base  face
623  엘브이엠씨홀딩스  A900140  51120439    2.510014e+11  0.0    12     0

In [20]:
pdMarketTotal.loc[pdMarketTotal.Code == "A005930"]

   Name     Code       Stock  capitalization    per    base  face
0  삼성전자  A005930  5969782000    2.978921e+14  15.76  778046   100

In [21]:
pdMarketTotal.loc[pdMarketTotal.Code == "A000660"]

     Name     Code      Stock  capitalization        per     base  face
1  SK하이닉스  A000660  728002365    5.984179e+13  29.709999  3657652  5000

In [22]:
# pdMarketTotal_not_etf = pdMarketTotal.loc[(
#     (pdMarketTotal["Name"].apply(lambda x: x.find("KODEX") < 0)) &
#     (pdMarketTotal["Name"].apply(lambda x: x.find("TIGER") < 0)) &
#     (pdMarketTotal["Name"].apply(lambda x: x.find("KBSTAR") < 0)) &
#     (pdMarketTotal["Name"].apply(lambda x: x.find("HANARO") < 0)) &
#     (pdMarketTotal["Name"].apply(lambda x: x.find("ARIRANG") < 0)) &
#     (pdMarketTotal["Name"].apply(lambda x: x.find("KINDEX") < 0)) &
#     (pdMarketTotal["Name"].apply(lambda x: x.find("KOSEF") < 0)) &
#     (pdMarketTotal["Name"].apply(lambda x: x.find("SMART") < 0)) &
#     (pdMarketTotal["Name"].apply(lambda x: x.find("TREX") < 0)) &
#     (pdMarketTotal["Name"].apply(lambda x: x.find("OTM") < 0)) &
#     (pdMarketTotal["Name"].apply(lambda x: x.find("ATM") < 0)) &
#     (pdMarketTotal["Name"].apply(lambda x: x.find("ETN") < 0)) &
#     (pdMarketTotal["Name"].apply(lambda x: x.find("ETF") < 0)) 
# )]

In [23]:
pdMarketTotal = pdMarketTotal[pdMarketTotal.Code.apply(lambda x: not x.endswith("K"))]
pdMarketTotal = pdMarketTotal[pdMarketTotal.Code.apply(lambda x: not x.startswith("Q"))]

In [24]:
KOSPI = pdMarketTotal.loc[(
    (pdMarketTotal.Stock == 0)
), "Name,Code,Stock,capitalization".split(",")]

In [25]:
KOSPI["type"] = "index"

In [26]:
STOCK = pdMarketTotal.loc[(
    ((pdMarketTotal.face > 0) & 
     (pdMarketTotal.base > 0) & 
     (pdMarketTotal.per > 0) & 
     (pdMarketTotal.Stock > 1e+7) &
     (pdMarketTotal.capitalization > 1e+12))
), "Name,Code,Stock,capitalization".split(",")]

In [27]:
STOCK["type"] = "stock"

In [28]:
ETF = pdMarketTotal.loc[(
    ((pdMarketTotal.face == 0) & 
     (pdMarketTotal.base == 0) & 
     (pdMarketTotal.per == 0) & 
     (pdMarketTotal.capitalization > 1e+10))
), "Name,Code,Stock,capitalization".split(",")]

In [29]:
ETF["type"] = 'etf'

In [30]:
concat = pd.concat([KOSPI, STOCK, ETF])

In [31]:
concat

                       Name     Code       Stock  capitalization   type
2973                 종합주가지수     U001           0    0.000000e+00  index
0                      삼성전자  A005930  5969782000    2.978921e+14  stock
1                    SK하이닉스  A000660   728002365    5.984179e+13  stock
2                  삼성바이오로직스  A207940    66165000    3.956667e+13  stock
4                     NAVER  A035420   164263395    3.490597e+13  stock
...                     ...      ...         ...             ...    ...
2611             KODEX 헬스케어  A266420      700000    1.038100e+10    etf
2615            HANARO e커머스  A322400      950000    1.026950e+10    etf
2618          KODEX TRF5050  A329660     1000000    1.023000e+10    etf
2619          KODEX TRF7030  A329670     1000000    1.021000e+10    etf
2620  TIGER 글로벌자원생산기업(합성 H)  A276000     1100000    1.019700e+10    etf

[384 rows x 5 columns]

In [40]:
concat.to_csv("../data/SELECT_LIST.csv", index=None)